# Data cleaning and preparation
We have splitted our data into train and test, but did not make any other modifications. To make our data fit for machine learning, we need to:
* Handle missing, corrupt or incorrect data
* Do feature normalization

Let's start by looking how much missing data we have:

In [1]:
import pandas as pd
penguins_train = pd.read_csv('data/penguins_train.csv')

In [3]:
penguins_train.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

We need to make a choice here what to do with missing values. We choose to throw out any records that have missing values for the numerical features.

In [5]:
numerical_features = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']
penguins_train_nona = penguins_train.dropna(subset=numerical_features)

In [6]:
penguins_train_nona.to_csv('data/penguins_train_nona.csv', index=False)

It could also be that we have corrupt data, leading e.g. to outliers in the data set. The pair plot in the previous episode could have hinted to this. For this dataset, we don't need to do anything about outliers.

## Feature normalization
As we saw in the pairplot, the magnitudes of the different features are not directly comparable with each other. Some of the features are in mm, others in grams, and those in mm denote different properties.

Most Machine Learning algorithms regard all features together in one multi-dimensional space. To do calculations in this space that make sense, the features should be comparable to each other, e.g. they should be scaled. There are two options for scaling:
- Normalization (Min-Max scaling)
- Standardization (scale by mean and variance)
In this case, we choose min_max scaling, because we do not know much about the distribution of our features.

In [16]:
import sklearn.preprocessing
min_max_scaler = sklearn.preprocessing.MinMaxScaler()

In [17]:
penguins_train_scaled = penguins_train_nona.copy()
penguins_train_scaled[numerical_features] = min_max_scaler.fit_transform(penguins_train_scaled[numerical_features])

### Exercise
Compare the distributions of the numerical features before and after scaling. What do you notice?

In [20]:
penguins_train_nona.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      307.000000     307.000000         307.000000   307.000000
mean        44.123453      17.197068         201.188925  4213.925081
std          5.407424       1.970524          14.076477   795.126280
min         33.100000      13.100000         172.000000  2700.000000
25%         39.600000      15.700000         190.000000  3600.000000
50%         44.900000      17.300000         197.000000  4050.000000
75%         48.700000      18.700000         214.000000  4762.500000
max         59.600000      21.500000         231.000000  6300.000000

In [19]:
penguins_train_scaled.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      307.000000     307.000000         307.000000   307.000000
mean         0.415979       0.487746           0.494728     0.420535
std          0.204054       0.234586           0.238584     0.220868
min          0.000000       0.000000           0.000000     0.000000
25%          0.245283       0.309524           0.305085     0.250000
50%          0.445283       0.500000           0.423729     0.375000
75%          0.588679       0.666667           0.711864     0.572917
max          1.000000       1.000000           1.000000     1.000000

In [21]:
penguins_train_scaled.to_csv('data/penguins_train_scaled.csv')